@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Autography' ;
    src: url('Autography.ttf');
}
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    /* Change favorite color to match images */

    /* RGBA color mode */
    --body-bg: #F8F8F8;
    --body-color: #FAFAFA;
    --first-color: #FF6C00;
    --black-color: #000000;
    --small-text: #464646;
    --white-color: #ffffff;
    --service-bg: #EFEFEF;
    --input-border: #8C8B8B;
    --circle-bg: #f9eadf;
    --first-alt-color: #e16713;
    --second-alt-color: #ad4d0c;
    --third-alt-color: #6a2f07;
    --active-link: #d1c0bb;
  
    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --italic-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
  
    /*========== Font weight ==========*/
    --first-weight: 300;
    --font-low: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --heigh-bold: 700;
  
    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
  }

  @media screen and (max-width: 968px) {
    /* :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    } */
  }


/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: var(--body-font);
}

  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img,
video {
    max-width: 100%;
    height: auto;
}
  
button,
input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
  
button {
    cursor: pointer;
}
  
input {
    outline: none;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 4.5rem 0 2.5rem;
}

.container {
    max-width: 95%;
    margin: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.inner{
    max-width: 80%;
    margin: auto;
}

  /*=============== HEADER ===============*/
.header__footer{
    width: 100%;
    height: 3rem;
    background-color: var(--black-color);
    justify-content: flex-start;
}
.header__icons{
    width: 45%;
    margin-left: 2rem;
}
.header__icons span{
    color: var(--white-color);
    font-size: var(--h2-font-size);
    padding: 0 var(--mb-0-25);
}
.mechanic__icon{
    width: 45%;
    justify-content: flex-start;
    margin-left: -4rem;
}  

.man__img{
    width: 18px;
    margin-right: var(--mb-0-75);
}
.man__img img{
    width: 100%;
}
.mechanic__icon p{
    color: var(--white-color);
}
  /*=============== NAV ===============*/

.header {
    width: 100%;
    padding: var(--mb-0-75) 0;
    background-color: var(--body-bg);
}  
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    width: 60px;
}
.nav__logo img{
    width: 100%;

}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
  
.nav__menu {
    position: relative;
}
.nav__item{
    margin-left: 1rem;
}

.nav__list span{
    width: 1px;
    height: 26px;
    background-color: var(--black-color);
    margin-left: 2rem;
    opacity: 30%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.border{
    border-right: 1px solid var(--input-border);
    padding-right: var(--mb-0-75);
}

.search{
    width: 200px;
    border: 1px solid var(--input-border);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    float: right;
}
.input__box input{
    width: 80%;
    height: 100%;
    padding: .5rem 1rem;
    opacity: .5;
}
.search__icon{
    width: 40px;
    height: 40px;
    background-color: var(--first-color);
    position: absolute;
    top: 0;
    right: 0;
}
.search__icon span{
    color: var(--white-color);
    position: relative;
    top: 10px;
    left: 10px;
}
.nav__close,
.nav__toggle{
    display: none;
}
@media screen and (max-width: 967px) {
    .nav__menu {
      position: fixed;
      background-color: var(--body-bg);
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      box-shadow: -1px 10px 14px rgba(8, 10, 10, 0.15);
      padding: 3rem;
      transition: .4s;
      z-index: 100;
    }
    .nav__close,
    .nav__toggle{
        display: block;
        color: var(--first-color);
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
  }
  .nav__list span{
    display: none;
}
}

.nav__link {
    color: var(--small-text);
    text-transform: capitalize;
    font-size: var(--normal-font-size);
    font-weight: var(--font-low);
}
  
.nav__link:hover {
    color: var(--input-border);
}
  
.nav__close {
    position: absolute;
    top: 1.75rem;
    right: 3rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}
  
  /* show menu */
.show-menu {
    right: 0;
}
  /* Active link */
.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3s;
}
  
.active-link::before {
    content: '';
    position: absolute;
    background-color: var(--first-color);
    width: 100%;
    height: 2px;
    bottom: -.75rem;
    left: 0;
}
        

/* ====================SLICK BANNER SLIDER============= */
.slider__wrap{
    width: 100%;
    overflow: hidden;
}

.slider .item{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.slider .item__image{
    width: 100%;
    height: 100vh;
    background-image: url(../images/Clip.png);
    background-color: var(--black-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
.caption{
    width: 60%;
    position: absolute;
    top: 25%;
    right: 0%;
    color: var(--white-color);
}

.slick-dots {
    width: 100px;
    position: absolute;
    top: 45%;
    right: 0%;
}
.slick-dots li {
    width: 60px;
    height: 5px;
    background-color: var(--white-color);
    border-radius: 4rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
}


.slick-dots li:nth-child(1),
.slick-dots li:nth-child(3){
    margin-left: 1rem;
    width: 25px;
}
.slick-vertical .slick-slide{
    border: none;
}

.slick-dots li button {
    display: none;
}
.slider .slick-active{
    background-color: var(--first-color);
}

.slick-dots li ::before{
    content: attr(data-count);
    position: absolute;
    right: 220px;
    top: 13px;
    font-size: 1.25rem;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
    height: 60vh;
}
/* ====================END SLICK BANNER SLIDER=============


/*=========================HERO SECTION==================*/

.main__text{
    width: 100%;
    font-size: var(--h1-font-size);
}
.italic__text{
    font-family: 'Autography';
    color: var(--first-color);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-low);
    letter-spacing: 2px;
}
.main__text .heading{
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}
.main__text .heading  .bold{
    color: var(--first-color);
    font-weight: 900;
}
.main__text .subtitle{
    color: var(--white-color);
    font-size: var(--normal-font-size);
}
.main__text .book__now{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    border: 1px solid var(--first-color);
    padding: .8rem 1rem;
    width: 140px;
    text-align: center;
    display: inline-block;
    margin-top: var(--mb-1);
    border-radius: .5rem;
    text-transform: capitalize;
    transition: all .3s ease;
}
.main__text .book__now:hover{
    background-color: var(--first-alt-color);
    color: var(--white-color);
}

/*=========================HERO END=================*/




/*=========================BOOKING SECTION==================*/
.booking__section{
    width: 100%;
    padding: 3% 0;
    background-color: var(--body-bg);
    position: relative;
    overflow: hidden;
}
.booking__inner{
    text-transform: capitalize;
    text-align: center;
}
.left__ellips{
    position: absolute;
    left: -15px;
    width: 300px;

}
.circle{
    width: 120px;
    position: absolute;
    right: -80px;
}
.inner__text h1{
    font-size: 4rem;
    opacity: .1;
    font-weight: var(--heigh-bold);
}
.title h3{
    transform: translateY(-50px);
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}
.sub__heading{
    font-size: var(--normal-font-size);
    padding-bottom: 5%;
    transform: translateY(-25px);
    line-height: 23px;
}
.sub__heading span{
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    word-break: keep-all;
}
.booking__inner{
    position: relative;
}
.small__vector{
    width: 20px;
    position: absolute;
    left: 0;
}




.booking__text{
    margin-top: var(--mb-1);
}
.booking__text h4{
    color: var(--first-color);
    font-weight: var(--font-medium);
}
.booking__text p{
    font-size: var(--normal-font-size);
}
.booking__banner{
    width: 80%;
    margin: auto;
}
.three__col{
    display: grid;
    grid-template-columns: repeat(3, 100fr);
}
/*=========================BOOKING END=================*/



/*=========================SERVICES SECTION==================*/
.services__section{
    width: 100%;
    padding: 5% 0;
    background-color: var(--service-bg);
    overflow: hidden;
    position: relative;
}

.services__inner{
    text-align: center;
    max-width: 95%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.small__vector__two{
    position: absolute;
    width: 10px;
    right: 0;
    top: 100px;
}


.service__wrapper:nth-child(4){
    border: none;
}
.service__icon img{
    width: 35%;
    margin-top: 23px;
}
.side__squre{
    position: absolute;
    width: 150px;
    right: -85px;
}




.service__card{
    width: 30%;
    background-color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: var(--mb-2);
    box-shadow: 0px -2px 13px rgba(8, 10, 10, 0.2);
}
.service__image{
    width: 100%;
    height: 180px;
    background-image: url(../images/bikerepair1.jpg);
    background-size: cover;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem
}


.service__card .card__icon img{
    width: 100%;
    padding: .2rem;
}
.service__card .card__text{
    position: relative;
    padding: 1rem;
}
.service__card .card__icon{
    width: 50px;
    background-color: var(--first-color);
    border-radius: .3rem;
    position: absolute;
    top: -40px;
    right: 20px;
}
.card__text{
    text-transform: capitalize;
    text-align: left;
}
.card__text h3{
    font-size: var(--h2-font-size);
    color: var(--first-color);
}
.card__text p,
.serv__flex{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    line-height: 24px;
}
.serv__flex{
    color: var(--first-color);
    margin: .2rem 0;
}
.serv__flex .ri-add-line{
    color: var(--black-color);
}

.overlap{
    width: 45%;
    position: relative;
    margin-bottom: 2rem;
}

.overlap img{
    width: 100%;
    border-radius: .5rem;
}
.small__overlay{
    width: 300px;
    position: absolute;
    right: -150px;
    bottom: -10px;
}
.small__overlay img{
    border-left: 3px solid var(--white-color);
}
/*=========================SERVICES  END=================*/


/* =======================ANNUAL SECTION=============== */
.annual__section{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 3% 0;
}
.pricing__wrapper{
    max-width: 95%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
.annual__sqr{
    width: 150px;
    position: absolute;
    left: -85px;
    top: 100px;
}
.annual__shade{
    width: 150px;
    position: absolute;
    top: 100px;
    right: -20px;
    transform: rotate(-180deg);
}
.anual__conatiner{
    text-align: center;
    position: relative;
}
.anual__left{
    width: 10px;
    position: absolute;
    left: 0;
    top: 150px;
}
.anual__right{
    width: 10px;
    position: absolute;
    right: 0;
    top: 50px;
}

.price__box{
    width: 30%;
    border: 1px solid var(--input-border);
    border-radius: .5rem;
    overflow: hidden;
}
.package{
    padding: .4rem;
    margin-bottom: var(--mb-1);
}
.price__header{
    width: 100%;
    height: 50px;
    background-color: var(--first-alt-color);
    color: var(--white-color);
    padding: 1rem .5rem;
    text-align: left;
}
.bg{
    background-color: var(--second-alt-color);
}
.bg__two{
    background-color: var(--third-alt-color);
}
.price__row{
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: .4rem 0;
}
.price__row span{
    margin-left: .8rem;
    display: inline-block;
    word-break: break-all;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
.total__price{
    width: 95%;
    margin: auto;
    border-top: 1px solid var(--input-border);
    color: var(--first-alt-color);
    font-weight: var(--font-semi-bold);
    border-bottom: 1px solid var(--input-border);
    color: var(--first-alt-color);
    font-weight: var(--font-semi-bold);
    justify-content: flex-start;
}
.total__price p{
    padding: .4rem 0;
    text-align: left;
    font-size: var(--h2-font-size);
    margin-left: .3rem;
}
.total__price img{
    width: 14px;
}
.buy__button{
    width: 140px;
    height: 40px;
    background-color: var(--first-alt-color);
    border-radius: .5rem;
    color: var(--white-color);
    display: block;
    margin: .4rem;
    padding: .4rem 0;
    line-height: 26px;
    text-align: center;
}

.condition{
    display: block;
    text-align: left;
    font-size: var(--smaller-font-size);
    padding: .2rem .4rem;
}
/* =================ANNUAL END====================== */

/*=========================OFFER BANNER SECTION==================*/
.offer__banner{
    width: 100%;
    height: 60vh;
    background: url(../images/mini-banner.jpg), rgba(8, 10, 10, 0.335);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-blend-mode: darken;
    padding: 5% 0;
}
.offer__banner .text{
    width: 60%;
    transform: translateX(80%);
    color: var(--white-color);
    margin-top: 60px;
    position: relative;
}
.offer__banner .text h1{
    font-size: var(--biggest-font-size);
}
.zing__line{
    width: 260px;
    position: absolute;
    top: 40px;
    left: 260px;
}

.mini__banner-btn{
    width: 120px;
    height: 40px;
    background-color: var(--first-alt-color);
    color: var(--white-color);
    padding: .6rem 0;
    border-radius: .5rem;
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
}
/*=========================OFFER BANNER END=================*/

/* ===========================BRAND SECTION=================== */
.brand__section{
    width: 100%;
    padding: 5% 0;
    overflow: hidden;
}
.brand__inner{
    text-align: center;
    text-transform: capitalize;
    position: relative;
}
.blurs{
    width: 100px;
    position: absolute;
    right: 0;
}
.blob{
    width: 8px;
    position: absolute;
    left: 0;
    top: 50px;
}
.bike__row{
    justify-content: flex-start;
}
.bike__bx{
    max-width: 24%;
    max-height: 250px;
    padding: .8rem;
    transition: .1s;
}
.bike-icon{
    width: 100px;
    padding: 1rem;
}
.bike-icon img{
    position: relative;
    top: 10px;
}
.bike__bx:hover{
    background-color: var(--circle-bg);
    border-radius: .5rem;
    border-right: 2px solid var(--first-alt-color);
}
.bike__wrapper .left{
    width: 45%;
}
.bike__wrapper .right{
    width: 30%;
}
.bike__wrapper .right img{
    width: 100%;
}
/* ===========================END BRAND SECTION=================== */

/* ==========================CUSTOMER SECTION========================= */
.customer__section{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 5% 0;
    background-color: var(--circle-bg);
}
.t-squre{
    width: 150px;
    position: absolute;
    right: -85px;
    bottom: 100px;
}
.customer__inner{
    text-align: center;
    position: relative;
}
.left-qoute{
    width: 200px;
    position: absolute;
    left: 0;
    top: 100px;
}
.right-qoute{
    width: 200px;
    position: absolute;
    right: 0;
    top: 100px;
}
.testimonial__wrapper{
    width: 80%;
    margin: auto;
    position: relative;
}
.t-slider{
    width: 70%;
    margin: auto;
}
.t-slide .text-main{
    margin-bottom: 2rem;
}
.prev{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 0;
}
.center-img{
    width: 150px;
}
.left-img{
    width: 100px;
}
.right-img{
    width: 100px;
}
.next{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 0;
}
.prev span,
.next span{
    font-size: var(--h3-font-size);
}
.prev span:hover,
.next span:hover{
    background-color: var(--first-alt-color);
    padding: .4rem;
}
.user__name h3{
    color: var(--first-alt-color);
    padding: var(--mb-1) 0;
}

/* ==========================END CUSTOMER SECTION========================= */





/* =================================FOOTER====================== */
footer{
    width: 100%;
    overflow: hidden;
    padding: 5% 0;
    overflow: hidden;
}
.footer__inner{
    max-width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 24% 25% 20%;
    justify-content: space-between;
    align-items: flex-start;
}
.footer__box .quik__link{
    text-transform: capitalize;
    position: relative;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}
.footer__box .quik__link::after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: var(--first-alt-color);
    opacity: .7;
}
.footer__link{
    text-transform: capitalize;
    color: var(--small-text);
    line-height: 2rem;
}
.quik__link h4{
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    color: var(--black-color);
}
.footer__link a,
.footer__box p{
    text-transform: capitalize;
    color: var(--small-text);
    position: relative;
    left: 15px;
}
.footer__box p{
    line-height: 24px;
}
.footer__link a::before,
.footer__box p::before{
    content: "";
    position: absolute;
    top: 5px;
    left: -15px;
    width: 4px;
    height: 4px;
    border: 1px solid var(--first-alt-color);
    border-radius: 100%;
}
.quik__link{
    margin: var(--mb-1) 0;
}
.footer__box .media span{
    background-color: var(--black-color);
    padding: .5rem;
    border-radius: 100%;
    color: var(--white-color);
    display: inline-block;
    margin-top: var(--mb-0-75) --mb-0-5;
}
.mail__link{
    color: var(--small-text);
    margin: var(--mb-0-25) 0;
}
.copyright__footer{
    width: 95%;
    margin: auto;
    text-transform: capitalize;
    text-align: center;
    color: var(--small-text);
    padding: 5% 0;
}
.copyright__footer p{
    text-align: center;
}
/* ======================================END FOOTER======================= */



/* ============================ABOUT PAGE===================== */
.about__section{
    width: 100%;
    background-color: var(--body-bg);
    padding: 5% 0;
    position: relative;
    overflow: hidden;
}
.side__squre{
    position: absolute;
    width: 150px;
    right: -80px;
    bottom: 100px;
}
.title__bg{
    width: 100%;
    padding: 5% 0;
    background-color: var(--first-alt-color);
    text-align: center;
    color: var(--white-color);
    text-transform: capitalize;
}
.link__prev{
    margin: var(--mb-0-75) 0;
}
.active__page{
    color: var(--active-link);
}
.about__inner{
    max-width: 95%;
    margin: auto;
    text-transform: capitalize;
    overflow: hidden;
}
.left{
    width: 45%;
}
.right{
    width: 45%;
}
.left .bg__img{
    position: relative;
}
.left .bg__img img{
    width: 100%;
    border-radius: .5rem;
}
.left .over__video{
    width: 200px;
    position: absolute;
    right: -50px;
    bottom: -10px;
}
.left .over__video video{
    width: 100%;
    border-radius: .5rem;
}
.heading h3{
    color: var(--first-alt-color);
}
.heading h1{
    font-weight: var(--font-low);
    font-size: var(--h1-font-size);
    padding: var(--mb-0-25) 0;
}
.heading p{
    line-height: 24px;
    margin-bottom: var(--mb-1);
}
.sub__quality{
    margin: var(--mb-0-25) 0;
}
/* =================================END ABOUT======================== */


/* ==============================NUMBER COUNT==================== */
.number__count{
    width: 100%;
    background-color: var(--first-alt-color);
    position: relative;
    overflow: hidden;
}
.dots{
    width: 240px;
    position: absolute;
    right: -180px;
    top: 50px;
    opacity: .4;
}
.inside{
    justify-content: end;
    align-items: baseline;
}
.inside .box{
    width: 24%;
    justify-content: center;
    padding: 2rem;
    align-items: center;
}
.inside .box p{
    font-size: var(--h1-font-size);
    color: var(--white-color);
    font-weight: var(--font-medium);
    padding: var(--mb-1) 0;
}
.inside .number{
    justify-content: flex-start;
    border-right: 1px solid var(--circle-bg);
}
.inside .number img{
    margin-right: var(--mb-0-75);
}
.inside .number p{
    font-size: var(--biggest-font-size);
    font-weight: var(--heigh-bold);
    color: var(--white-color);
}

/* ==============================END NUMBER COUNT==================== */

/* ===========================OUR MISSION===================== */
.our__mission{
    width: 100%;
    background-color: var(--body-bg);
    padding: 5% 0;
    text-transform: capitalize;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.sqr{
    width: 150px;
    position: absolute;
    right: -85px;
    bottom: 30px;
}
.mission__inner{
    max-width: 95%;
    margin: auto;
}
.mission__inner .left,
.mission__inner .right{
    position: relative;
}
.mission__inner .left .vector,
.mission__inner .right .vector{
    width: 10px;
    position: absolute;
    right: 50px;
    top: 10px;
}
.visionBox p{
    line-height: 24px;
}
.line{
    width: 1px;
    height: 150px;
    background-color: var(--black-color);
    display: inline-block;
    border: 1px solid var(--black-color);
}

/* =====================END OUR MISSION===================== */


.servicehome__section{
    width: 100%;
    padding: 5% 0;
    overflow: hidden;
}
.skew__box{
    width: 100%;
    height: 380px;
    transform: skewX(-10deg);
    background-color: green;
    background-image: url(../images/bike-service-at-home_1570911008.png);
    background-size: cover;
    overflow: hidden;
}
.bike__service{
    width: 100%;
}
.bike__service .bikeBx{
    width: 60px;
    height: 60px;
    border-radius: .2rem;
    background-color: var(--first-alt-color);
}
.bike__service .bikeBx img{
    width: 50%;
    position: relative;
    top: 16px;
    left: 16px;
}
.bike__service .box{
    width: 30%;
    margin-bottom: var(--mb-1-25);
}
.bike__service .box p{
    padding: var(--mb-0-25) 0;
}
.line-2{
    width: 1px ;
    display: inline-block;
    height: 60px;
    position: relative;
    top: -30px;
    left: -50px;
    background-color: var(--black-color);
}



/* ==========================SERVICE PAGE======================= */
.services__main{
    width: 100%;
    background-color: var(--body-bg);
    padding: 5% 0;
    overflow: hidden;
}

.services__wrap{
    max-width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: space-between;
    align-items: baseline;
    gap: 1.5rem;
    overflow: hidden;
}
.pop-up{
    border: 2px solid var(--input-border);
    border-radius: .5rem;
}

.services__content img{
    width: 100%;
}
.pop-up .header{
    background-color: var(--first-alt-color);
    width: 100%;
    padding: 1rem;
    color: var(--white-color);
}
.pop-up .text{
    padding: 1rem;
}
.service__details{
    margin: var(--mb-2) 0;
}
.service__details p{
    line-height: 24px;
    margin-bottom: var(--mb-1);
}
.service__flex__detail{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    align-items: center;
}
.service__flex__detail .machine__img img{
    width: 100%;
}
.service__details .flex__row{
    justify-content: flex-start;
    padding: var(--mb-0-75) 0;
}
.service__details h1{
    padding: var(--mb-0-75) 0;
}
.service__details .flex__row .round{
    width: 15px;
    height: 15px;
    margin-right: var(--mb-0-75);
}

/* =============================SERVICE END========================= */


/* ===================CONTACT US PAGE===================== */
.form__section{
    width: 100%;
    background-color: var(--body-bg);
    padding: 5% 0;
    position: relative;
    overflow: hidden;
}
.form__section html{
    overflow-x: hidden;
}
.form__section .sqr-two{
    position: absolute;
    width: 130px;
    right: -90px;
    top: -20px;
}
.form__container{
    max-width: 95%;
    margin: auto;
}

.form__container h3{
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}
.form__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.input__details{
    width: 48%;
    position: relative;
}
.form__wrapper .form__input{
    width: 100%;
    height: 40px;
    padding: .5rem 0.8rem;
    background-color: transparent;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    font-size: var(--small-font-size);
    margin: 1rem 0;
    color: var(--black-color);
    transition: .3s ease;
}
textarea{
    width: 100%;
    padding: .5rem 0.8rem;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    outline: none;
    margin: 1rem 0;
    background-color: transparent;
    font-family: var(--body-font);
}
.submit-btn{
    background-color: var(--first-alt-color);
    width: 150px;
    height: 40px;
    color: var(--white-color);
    border-radius: .5rem;
}


/* ==============LOCATION SECTION================= */
.location__section{
    width: 100%;
    padding: 5% 0;
    overflow: hidden;
    position: relative;
}
.location__section .l-dots{
    width: 250px;
    position: absolute;
    left: -210px;
    top: 280px;
}
.location-inside{
    max-width: 95%;
    margin: auto;
}
.location-inside .left .row{
    padding: var(--mb-1);
}
.location-inside .left .row h3{
    color: var(--first-alt-color);
    margin-bottom: var(--mb-0-25);
    text-transform: capitalize;
}
.location-inside .left .row span{
    color: var(--first-alt-color);
    margin-right: var(--mb-0-25);
    font-size: var(--h2-font-size);
}
.location-inside .left .row p{
    margin-bottom: var(--mb-0-25);
}
.location-inside .left .row  a{
    color: var(--black-color);
}
.goserve__map iframe{
    width: 100%;
}
.location-inside .left {
    position: relative;
}
.location-inside .left .l-vector{
    width: 10px;
    position: absolute;
    right: 0;
}

/* ==============END LOCATION SECTION================= */

/* ========================   OUR FRANCISE===================== */
.our__francise{
    max-width: 95%;
    margin: auto;
}
.inner__francise{
    text-align: center;
}
.francise__wrapper{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
.our__francise .f-box{
    border: 1px solid var(--black-color);
    padding: 1rem;
    margin-bottom: var(--mb-1-25);
    position: relative;
    overflow: hidden;
}
.our__francise .f-dots{
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.our__francise .f-box a h3{
    color: var(--first-alt-color);
}
.our__francise .f-box .row h3{
    color: var(--first-alt-color);
}
.our__francise .f-box a{
    color: var(--black-color);
}
.our__francise .f-box .row span{
    color: var(--first-alt-color);
    font-size: var(--h3-font-size);
}

.our__francise .f-box p,
.our__francise .row{
    padding: var(--mb-0-25) 0;
}




/* ========================END   OUR FRANCISE===================== */
/* =======================END CONTACT US============================ */

@media screen and (max-width: 980px) {

    .price__box{
        width: 48%;
        margin-bottom: var(--mb-1);
    }
    .services__wrap{
        grid-template-columns: 35% 65%;
    }
    .left-qoute{
        width: 120px;
        top: 100px;
    }
    .right-qoute{
        width: 120px;
        top: 100px;
    }

}
@media screen and (max-width: 768px) {
    .main__text{
        width: 100%;
    }
    .caption {
        position: absolute;
        top: 80px;
        right: 200px;
        color: var(--white-color);
    }
    .inner__text h1{
        word-break: break-all;
        font-size: 3rem;
    }
    .slider__wrap{
        width: 100%;
        overflow: hidden;
    }
    .slider{
        width: 100vw;
    }
    .slider .item{
        width: 100%;
        height: 83vh;
        overflow: hidden;
        position: relative;
    }
    .slider .item__image{
        width: 100%;
        height: 100vh;
        background-image: url(../images/Clip.png);
        background-position: 100%;
        background-size: contain;
    }
    .title h3{
        transform: translateY(-40px);
    }
    .booking__text h4{
        font-size: var(--small-font-size);
    }
    .booking__text p{
        font-size: var(--smaller-font-size);
    }
    .brand__flex{
        flex-direction: column;
    }
    .brand__left{
        width: 100%;
    }
    .brand__right{
        width: 50%;
        margin: 1rem auto;
    }
    .brand__left .row{
        margin: 2.4rem 0;
    }
    .services__wraper{
        align-items: baseline;
    }
    .service__card{
        width: 47%;
    }
    .overlap{
        width: 80%;
    }
    .small__overlay{
        width: 200px;
        position: absolute;
        right: -120px;
        bottom: -5px;
    }
    .footer__inner{
        grid-template-columns: 47% 47%;
        align-items: center;
    }
    .left-qoute{
        width: 80px;
        top: 100px;
    }
    .right-qoute{
        width: 80px;
        top: 100px;
    }
    .testimonial__wrapper{
        width: 100%;
    }
    .t-slider{
        width: 70%;
    }
    .prev,
    .next{
        top: 126px;
    }
}

@media screen and (max-width: 580px) {

    .slider .item__image{
        width: 100%;
        height: 80vh;
    }
    .header__icons span{
        font-size: var(--small-font-size);
    }
    .mechanic__icon{
        width: 45%;
        justify-content: flex-start;
        margin-left: -4rem;
    }  
    .header__footer{
        justify-content: space-between;
        align-items: center;
    }
    .francise__wrapper{
        display: grid;
        grid-template-columns: 100%;
    }
    
    .man__img{
        width: 15px;
        margin-right: var(--mb-0-75);
    }
    .man__img img{
        width: 100%;
    }
    .mechanic__icon p{
        color: var(--white-color);
        font-size: var(--smaller-font-size);
    }
    .nav__logo{
        width: 50px;
    }
    .three__col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
    }
    .caption {
        width: 90%;
        top: 100px;
        right: 20px;
    }
    .italic__text{
        font-family: 'Autography';
        font-size: var(--h1-font-size);
    }
    .main__text .heading{
        font-size: var(--h1-font-size);
    }
    .main__text .heading  .bold{
        font-weight: 900;
    }
    .main__text .subtitle{
        color: var(--white-color);
        font-size: var(--small-font-size);
    }
    
    .slick-dots {
        width: 60px;
        position: absolute;
        top: 35%;
        right: 0%;
    }
    .slick-dots li{
        margin-bottom: 0;
    }
    .main__text .book__now{
        padding: .5rem;
        width: 100px;
    }
    .price__box{
        width: 90%;
        margin: 1rem auto;
    }
    .service__card{
        width: 47%;
    }
    .overlap{
        width: 90%;
    }
    .small__overlay{
        width: 160px;
        position: absolute;
        right: -50px;
        bottom: -10px;
    }
    .footer__inner{
        grid-template-columns: 100%;
    }
    .left,
    .right{
        width: 100%;
        margin: var(--mb-1);
    }
    .inside .box{
        width: 45%;
    }
    .inside .number{
        border-right: 1px solid var(--circle-bg);
    }
    .services__wrap{
        grid-template-columns: 100%;
    }
    .input__details{
        width: 100%;
    }
    .bike__bx{
        max-width: 25%;
        align-items: center;
    }
    .bike__row{
        justify-content: space-between;
    }
    .bike__wrapper .left{
        width: 100%;
    }
    .bike__wrapper .right{
        width: 100%;
    }
    .bike-icon img{
        right: 15px;
        padding: .4rem;
    }
    .left-qoute{
        width: 40px;
        left: -40px;
    }
    .right-qoute{
        width: 40px;
        right: -40px;
    }
    .t-slider{
        width: 80%;
    }

    /* ==============ABOUT============== */
    .dots{
        width: 150px;
        right: -95px;
    }
    .inside .box{
        word-break:keep-all;
    }

}

@media screen and (max-width: 480px) {
    .footer__logo{
        width: 50px;
    }
    .download img{
        width: 100px;
    }
    .bike__row{
        justify-content: space-between;
    }
    .bike-icon{
        width: 80px;
    }
    .bike__wrapper .right img{
        width: 100%;
    }
    .service__card{
        width: 100%;
    }
    .left-qoute{
        width: 20px;
        left: -15px;
    }
    .right-qoute{
        width: 20px;
        right: -15px;
    }
    .prev,
    .next{
        top: 146px;
    }
    .center-img{
        width: 100px;
    }
    .left-img{
        width: 50px;
    }
    .right-img{
        width: 50px;
    }
    .number__count .inside .number{
        border: none;
    }
    .number__count .inside{
        justify-content: space-between;
    }
    .mission__inner .left{
        width: 100%;
    }
    

    /* ================ABOUT============= */
    .side__squre{
        width: 120px;
        right: -85px;
    }
}